<article class="sms-form">
  <h1>Le Wagon Vonage API Demo</h1>

  <%= form_with url: "/sms", method: :post do |form| %>
    <%= form.label :number, "Number:" %>
    <%= form.text_field :number, :required => true %>
    <%= form.label :message, "Message:" %>
    <%= form.text_area :message, :required => true %>
    <%= form.submit "Send Message" %>
  <% end %>
  <% flash.each do |type, msg| %>
    <div class="flash-message flash-<%= type %>">
      <%= msg %>
    </div>
  <% end %>
</article>
